# Ignore ASL model files and project checkpoints
ASLmodel.mlproj/
ASLmodel1a.mlmodel

# Ignore large model files and checkpoints
ASLmodel.mlproj/Checkpoints/
*.bin
*.checkpoint

# Xcode
DerivedData/
*.xcworkspace/
xcuserdata/
*.xcuserstate
Pods/

ASL_Dataset/

# Ignore dataset
ASL_Dataset/
*.jpg
*.png

# Xcode files to ignore
DerivedData/
*.xcworkspace/
xcuserdata/
*.xcuserstate
Pods/

